@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Indie+Flower&family=Kalam&family=Rampart+One&family=Rubik+Wet+Paint&display=swap");
:root {
  --colorGold: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
  --goldText: linear-gradient(
    to right,
    #bf953f 15%,
    #fcf6ba 35%,
    #b38728 55%,
    #fbf5b7 90%,
    #aa771c 100%
  );
  --saphireBackground: radial-gradient(
    circle farthest-corner at center,
    rgba(15, 82, 186, 1) 10%,
    rgba(0, 60, 159, 1) 20%,
    rgba(0, 39, 132, 1) 35%,
    rgba(0, 21, 106, 1) 45%,
    rgba(0, 3, 81, 1) 55%,
    rgba(0, 5, 57, 1) 65%,
    rgba(0, 2, 34, 1) 80%,
    rgba(0, 0, 9, 1) 90%,
    rgba(0, 0, 0, 1) 100%
  );
}

body {
  margin: 0px;
}

/* HEADER */
header {
  background-color: black;
}
.topnav {
  position: fixed;
  top: 0;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: black;
  box-shadow: 5px 5px 10px #333;
  width: 100%;
  height: 60px;
  z-index: 1;
}

.logo {
  width: 50px;
  border-radius: 100%;
  transition: width 0.5s;
  margin-top: 5px;
  margin-bottom: 3px;
  box-shadow: 5px 5px 10px #333;
}

.logo:hover {
  width: 70px;
}

.navbars {
  margin-left: 20px;
  margin-right: 20px;
}

.navbars a {
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 20px 70px 20px 70px;
  font-size: 17px;
  transition: background-color 0.3s;
}

.navbars a:hover {
  color: black;
  background-color: whitesmoke;
}

/* MAIN */
/* GRID MAIN AREA */
.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
/* SLIDE-IMG SECTION */
.img-section {
  grid-column: 1/11;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  /* background-color: #bbb; */
  height: 500px;
  place-items: center;
  background-image: url("../public/images/image.png");
  margin-top: 4%;
  z-index: -1;
  box-shadow: 5px 5px 10px #333;
}

/* * {box-sizing:border-box} */
#impact-tittle,
#impact-tittle1 {
  font-family: "rampart one";
  text-shadow: 5px 5px 10px black;
  text-align: center;
  color: rgb(229, 249, 54);
}

#impact-tittle {
  grid-column: 2/4;
  grid-row: 1;
}
#impact-tittle1 {
  grid-column: 8/10;
  grid-row: 1;
}

/* Slideshow container */
.slideshow-container {
  grid-column: 4/8;
  z-index: -1;
  /* margin: auto; */
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides img {
  width: 300px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px black;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* INTRO HOME SECTION */
.card-intro {
  margin-top: 40px;
  grid-column: 1/11;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.intro-img {
  width: 400px;
  height: 300px;
  align-self: center;
  border-radius: 20px;
  margin: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* banners */
.card-side {
  perspective: 130rem;
  text-align: center;
  width: 400px;
  height: 640px;
  margin: 20px;
}
.card-side1 {
  perspective: 130rem;
  text-align: center;
  width: 400px;
  height: 640px;
  margin: 20px;
}
.welcome-banner1 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  transition: all ease 0.5s;
  border-radius: 20px;
  text-align: center;
  width: 400px;
  height: 640px;
  background: var(--colorGold);
  /* background-image: url("../public/images/gold-gradient-background.png"); */
}
.welcome-banner1:hover {
  transform: translateY(-10px);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.35);
}
.welcome-banner {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 0;
  left: 0;

  border-radius: 20px;
  text-align: center;
  width: 400px;
  height: 640px;
  background: var(--colorGold);
  /* background-image: url("../public/images/gold-gradient-background.png"); */
  transition: all 0.8s ease;
  backface-visibility: hidden;
}
.welcome-banner.back {
  transform: rotateY(-180deg);
  background-color: #4158d0;
  /* background-image: url("../public/images/gold-gradient-background.png"); */
  background: var(--colorGold);
}

.welcome-banner.front {
  background-color: antiquewhite;
}

.card-side:hover .welcome-banner.front {
  transform: rotateY(180deg);
}

.card-side:hover .welcome-banner.back {
  transform: rotateY(0deg);
}
/* BUTTON CREATE */
.button-55 {
  margin-bottom: 20px;
}
.button-55 a {
  font-family: "indie flower";
  align-self: center;
  text-decoration: none;
  color: black;
}
.button-55 {
  align-self: center;
  background: var(--colorGold);
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

/* sections into banners */
.subtittle {
  font-family: "kalam";
  text-align: center;
  /* text-shadow: 5px 5px 10px #333; */
}
.home-text {
  font-family: "indie flower";
  text-align: center;
  font-size: 1.3em;
  margin: 10px;
}
.card-text {
  font-family: "indie flower";
  text-align: center;
  font-size: 1.3em;
  margin: 20px;
  margin-top: 20px;
  align-self: center;
}
/* READ MORE */
.read-more {
  text-align: center;
  font-size: 1.3em;
  font-family: "indie flower";
  background-image: linear-gradient(to right, white, white 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.read-more:before {
  content: "";
  background: white;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.read-more:hover {
  background-position: 0;
}

.read-more:hover::before {
  width: 100%;
}

/* FOOTER */
footer {
  background-color: black;
  padding: 0.5px;
  display: flex;
  justify-content: center;
  z-index: 1;
  width: 100%;
  margin: 0px;
  margin-top: 46px;
}
#main-footer {
  z-index: 1;
}
#footer-text {
  color: white;
  text-align: left;
  align-self: center;
}
.sci {
  position: relative;
  display: flex;
}

.sci li {
  list-style: none;
  margin: 5px;
}

.sci li a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid white;
  background: transparent;
  font-size: 1.5em;
  color: white;
  text-decoration: none;

  transition: 0.5s;
}

.sci li a:hover {
  background: white;
  color: black;
}

/* FIGHTING STYLE PAGE */
.fight-img {
  width: 440px;
  height: 312px;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fight-img1 {
  width: 440px;
  height: 312px;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: left;
}
#fighting-styles {
  grid-column: 2/10;
  margin: 20px;
  margin-top: 6%;
}
.fighting-section,
.fighting-section1,
.fighting-section2 {
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 420px;
  background: var(--colorGold);
}
/* .fighting-section {
  background-color: red;
}

.fighting-section2 {
  background-color: yellow;
} */
.fighting-section1 {
  flex-direction: row-reverse;
  background-color: green;
}
/* 
HAKI PAGE */
.haki-section {
  grid-column: 1/11;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: 20px;
  margin-top: 6%;
}
.side-img {
  width: 100%;
  height: 312px;
  border-radius: 20px;
}
.side-card {
  display: flex;
  flex-direction: column;
  grid-column: 8/11;
  grid-row: 1/3;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: var(--colorGold);
  margin-left: 10px;
}
hr {
  color: black;
  width: 200px;
}
.haki-banner,
.haki-banner1,
.haki-banner2 {
  grid-column: 1/8;
  display: flex;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: var(--colorGold);
}

.haki-banner {
  grid-row: 1/2;
}
.haki-banner1 {
  grid-row: 2/3;
  margin-top: 10px;
}
.haki-banner2 {
  grid-row: 3/4;
  margin-top: 10px;
}
/* LEVEL PAGE */
.card1 {
  margin-top: 40px;
  grid-column: 1/11;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
}
.card-side2 {
  perspective: 130rem;
  text-align: center;
  width: 400px;
  height: 720px;
  margin: 20px;
}
.level-banner {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  transition: all ease 0.5s;
  border-radius: 20px;
  text-align: center;
  width: 400px;
  height: 720px;
  background: var(--colorGold);
  /* background-image: url("../public/images/gold-gradient-background.png"); */
}
.level-banner:hover {
  transform: translateY(-10px);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.35);
}

/* AKUMA NO MI PAGE */
.home-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6%;
  grid-column: 2/10;
}
.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
  background-image: var(--saphireBackground);
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}
.slide-content {
  margin: 0 90px;
  overflow: hidden;
  border-radius: 25px;
}

.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #4070f4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background: #265df2;
}

.swiper-navBtn {
  color: #6e93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #4070f4;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}
.swiper-button-next {
  right: 20px;
}
.swiper-button-prev {
  left: 20px;
}
/* AKUMA NO MI CARDS */

.card {
  position: relative;
  cursor: pointer;
}

.card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
  border-radius: 5px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.card .face.face1 {
  position: relative;
  background: var(--colorGold);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100px);
}

.card:hover .face.face1 {
  transform: translateY(0);
}

.card .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
}

/* .container .card:hover .face.face1 .content{
  opacity: 1;
} */

.card .face.face1 .content img {
  width: 200px;
  height: 150px;
  margin-top: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px 25px 5px 50px;
  background-color: white;
}

.card .face.face1 .content h3 {
  margin-bottom: 10px;
  padding: 0;
  color: black;
  text-align: center;
  font-size: 1.5em;
  margin-top: 0px;
}

.card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  /* box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8); */
  transform: translateY(-50px);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 1s linear;
  z-index: -1;
}

.card:hover .face.face2 {
  transform: translateY(-10px);
  height: auto;
  visibility: visible;
  opacity: 1;
}

.card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

.subtittle1 {
  font-family: "kalam";
  text-align: center;
  color: white;
  /* text-shadow: 5px 5px 10px #333; */
}
/* 
CREATE PAGE */
.background {
  background-image: var(--saphireBackground);
}
.create-background {
  margin-top: 3%;
  grid-column: 1/11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  justify-self: center;
}
.berry-icon {
  width: 16px;
}
.price {
  display: flex;
  justify-content: center;
}
.price span {
  align-self: center;
  font-size: 1.5em;
}
.berrie {
  color: white;
  font-size: 1.5em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background: var(--goldText);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 50px;
}
.welcome-build {
  border: solid 5px gray;
  width: 700px;
  text-align: center;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.start {
  align-items: center;
  appearance: none;
  background-image: var(--colorGold);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin-bottom: 20px;
  color: #000;
  font-family: "kalam";
}

.start:focus {
  box-shadow: #adaa82 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #fbf5b7 0 -3px 0 inset;
}

.start:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #fbf5b7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.start:active {
  box-shadow: #fbf5b7 0 3px 7px inset;
  transform: translateY(2px);
}

/* GENDER SECTION */
.build-section.genders {
  display: none;
}
.build-section {
  width: 500px;
  background: var(--colorGold);
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "kalam";
  height: 400px;
  margin-bottom: 50px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

#name {
  text-align: center;
  margin-top: 40px;
  font-size: 1.5em;
}
#name input {
  text-align: center;
  background: transparent;
}

/* MALE BUTTON */
#male {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  /* height: 48px; */
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  /* padding-left: 16px;
  padding-right: 16px; */
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin-right: 10px;
  margin-top: 20px;
}
#male label {
  width: 100px;
}

#male:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

#male:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

#male:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

#male label span {
  text-align: center;
  display: block;
  padding: 16px;
  font-family: "kalam";
}
#male label input {
  position: absolute;
  top: -20px;
}
#male label input:checked + span {
  background-image: var(--saphireBackground);
  box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.4);
}
/* FEMALE BUTTON */
#female {
  align-items: center;
  appearance: none;
  background-color: #f5f5f1;
  background-image: linear-gradient(315deg, #f5f5f1 0%, #e50914 74%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  /* height: 48px; */
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  /* padding-left: 16px;
  padding-right: 16px; */
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin-left: 10px;
}
#female label {
  width: 100px;
}

#female:focus {
  box-shadow: #f10712e9 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #f10712e9 0 -3px 0 inset;
}

#female:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #f10712e9 0 -3px 0 inset;
  transform: translateY(-2px);
}

#female:active {
  box-shadow: #f10712e9 0 3px 7px inset;
  transform: translateY(2px);
}

#female label span {
  text-align: center;
  display: block;
  padding: 16px;
  font-family: "kalam";
}
#female label input {
  position: absolute;
  top: -20px;
}
#female label input:checked + span {
  background-color: #990000;
  background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%);
  box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.4);
}

/* PREVIEW-NEXT BUTTONS */

.next {
  margin-top: 20px;
  align-self: center;
  background: var(--colorGold);
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.next:hover,
.next1:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.next:focus,
.next1:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
.next1,
.next2,
.next3,
.next4,
.next5 {
  margin-bottom: 20px;
  align-self: center;
  background: var(--colorGold);
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
/* .next3 {
  margin-left: 500px;
} */
.next2:hover,
.next3:hover,
.next4:hover,
.next5:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.next2:focus,
.next3:focus,
.next4:focus,
.next5:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

/* RACE SECTION */
.akuma-no-mi {
  display: none;
  flex-direction: column;
}
.paramecia-section,
.logia-section,
.zoam-section {
  background: var(--colorGold);
  width: 1000px;
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  margin-bottom: 40px;
}
.race-section,
.profession-section {
  background: var(--colorGold);
  width: 1000px;
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  margin-bottom: 40px;
  display: none;
}
.build-tittle {
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.race-card,
.profession-card,
.style-card,
.paramecia-card,
.logia-card,
.zoam-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}

.race-card label img {
  width: 200px;
}
.profession-card label img {
  width: 200px;
}
.style-card label img,
.paramecia-card label img,
.logia-card label img,
.zoam-card label img {
  width: 200px;
}

/* CHECK IMG */

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

input[type="radio"][id^="myCheckbox"] {
  display: none;
}
input[type="checkbox"][id^="myCheckboxx"] {
  display: none;
}
input[type="radio"][id^="myCheckboxxx"] {
  display: none;
}
input[type="radio"][id^="myCheckboxf"] {
  display: none;
}
.style-section,
.haki-div {
  background: var(--colorGold);
  width: 1000px;
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  margin-bottom: 40px;
  display: none;
  flex-direction: column;
}
.hakis {
  display: flex;
  justify-content: center;
}
.haki-type {
  margin: 20px;
  font-family: "kalam";
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: flex-start;
}
.label {
  background-color: transparent;
  border: 1px solid #666;
  color: #000;
  text-align: center;
  font-size: 20px;
  margin: 15px;
  cursor: pointer;
}
.label span {
  text-align: center;
  display: block;
  padding: 16px;
}
.label input {
  display: none;
}
.label input:checked + span {
  background-color: white;
}

.check-img {
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 1.5em;
  font-family: "kalam";
}

.check-img:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: 30px;
  left: 5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
  z-index: 1;
}

.check-img img {
  height: 150px;
  width: 400px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + .check-img {
  border-color: #ddd;
}

:checked + .check-img:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + .check-img img {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */
}

/* CHARACTER SHEET PAGE */
.sheet {
  margin-top: 100px;
  background: var(--colorGold);
  width: 600px;
  height: 90%;
  margin-right: 20px;
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  grid-column: 3/5;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#name-gender,
.sheet-sections {
  display: flex;
  margin-left: 28%;
  margin-right: 30px;
}
hr {
  width: 100%;
}
.align1 {
  text-align: left;
  width: 40%;
}
.align {
  text-align: left;
  width: 50%;
}
.align,
.align1 {
  margin-left: auto;
  margin-right: auto;
}
.subtittle-sheet {
  font-family: "kalam";
  font-size: 1.3em;
  margin: 10px;
}
.input-sheet {
  font-family: "indie flower";
  font-size: 1.2em;
  margin: 10px;
}
.input-sheet1 {
  font-family: "indie flower";
  font-size: 1.5em;
  margin: 10px;
}
.char-level {
  margin-top: 100px;
  background: var(--colorGold);
  width: 600px;
  height: 90%;
  margin-left: 20px;
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  grid-column: 5/9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.level-img {
  width: 500px;
  margin-top: 20px;

  display: flex;
  justify-content: center;
}
.level-pic {
  width: 300px;
  align-self: first baseline;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.level-picture {
  width: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.level-desc {
  margin-top: 20px;
  width: 400px;
}

@media screen and (max-width: 769px) {
  .slide-content {
    margin: 0 71px;
  }
  .swiper-navBtn {
    display: none;
  }
}
@media screen and (max-width: 568px) {
  .slide-content {
    margin: 0 63px;
  }
  .welcome-build {
    width: 300px;
  }
  .build-section {
    width: 300px;
    height: 350px;
  }
  .race-section,
  .profession-section {
    width: 300px;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
  }
  .style-section,
  .haki-div {
    width: 300px;
  }
  .paramecia-section,
  .logia-section,
  .zoam-section {
    width: 300px;
  }
  .hakis {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .haki-type {
    align-items: center;
  }
  .sheet {
    width: 100%;
    grid-column: 1/11;
    margin-right: 0px;
  }
  .char-level {
    width: 100%;
    grid-column: 1/11;
    grid-row: 2/3;
    margin-left: 0px;
  }
}
@media screen and (max-width: 400px) {
  .slide-content {
    margin: 0 38px;
  }
}
@media screen and (max-width: 325px) {
  .slide-content {
    margin: 0 10px;
  }
}
