<!-- Top navigation -->
<div class="topnav">
  <div class="navbars">
    <a href="../../index.html">Home</a>
  </div>
  <div class="navbars">
    <a href="../../fightstyle-section/index.html"> Fighting Style</a>
  </div>
  <div class="navbars">
    <a href="../../level-section/index.html"> Level</a>
  </div>
  <div>
    <a href="../../buildchar/index.html"
      ><img class="logo" src="../images/logo.jpg" alt="Logo"
    /></a>
  </div>
  <div class="navbars">
    <a href="../../akumanomi-section/index.html">Akuma no Mi</a>
  </div>
  <div class="navbars">
    <a href="../../haki-section/index.html">Haki</a>
  </div>
  <div class="navbars">
    <a href="#news">About</a>
  </div>
</div>
