<!-- Top navigation -->
<div class="topnav">
  <div class="navbars">
    <a href="#index.html">Home</a>
  </div>
  <div class="navbars">
    <a href="#contact"> Fighting Style</a>
  </div>
  <div class="navbars">
    <a href="#contact"> Level</a>
  </div>
  <div>
    <a href="index.html"
      ><img class="logo" src="../images/logo.jpg" alt="Logo"
    /></a>
  </div>
  <div class="navbars">
    <a href="#search">Akuma no Mi</a>
  </div>
  <div class="navbars">
    <a href="#about">Haki</a>
  </div>
  <div class="navbars">
    <a href="#news">About</a>
  </div>
</div>
